header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  nav {
    grid-area: nav;
  }
  aside {
    grid-area: aside;
  }
  .banner {
    grid-area: banner;
  }
  footer {
    grid-area: footer;
  }
  /* ... */

.container {
    background-color: #FFFA91;
    display: grid; /* Using the grid */
    grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }
header{
      background-color: #174033;
      border-bottom: 3px solid black;
      color: white;
      text-align:center;
}
.nav{
    display: flex;
    list-style: none;
}

h1{
  text-align: center;
}

nav ul li{
    padding: 4px;
    margin-right: 10px;
    background-color: rgb(116, 238, 199);
    border: 2px solid black;
    color: white;
    width: 150px;
    text-align: center;
}

/* Calculator Grid Begins */
.calculator{
    display: grid;
    width: 220px;
    height: 150px;
    border: 2px solid black;
    background-color: #babdc1;
    margin: auto;
  margin-top: 25px;
}

#calcbuttons{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 2%;
}
#display{
    margin-right:0;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 150px;
    height: 25px;
}
.digits:hover{
    background-color:#174033;
    color: white;
}
.math:hover{
    background-color:#174033;
    color: white;
}

section{
    justify-content: center;
    margin: auto auto;
    margin-top: 5%;
    padding: none;
    padding-bottom: 20px;
    text-align: center;
    height: 10em;
    width: 250px;
    border: 2px solid black;
}
footer{
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
}
ul {
    list-style-type: none;
}
/* To-Do List style */
#TD-list {
  list-style-type: none;
}
#list_section {
  text-align: center;
}
#list_section > h1{
  margin: 0px auto;
  padding: 20px;
}
input[type='text'] {
  font-size: 12px;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 3px;
}

input[type='submit'] {
  width: fit-content;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  border: none;
  padding: 5px;
}
#itemField {
  margin-top: 60px;
  width: 10%;
}
#TD-list > li {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  list-style-type: none;
  width: 20%;
  margin: 0px auto;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}
#newItemButton {
  display: none;
}
  /* Calendar Grid begins */
  .calendar-container{
    grid-area: calendar;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
    width: 85vw;
    margin: auto auto;
  }

  .month{
   display: flex;
   margin: auto auto;
  }
  .days{
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .day-number1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .day-number2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .day-number3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .day-number4{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .day-number5{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }

  @media (min-width: 576px) {
    .container {
      background-color: #FFFA91;
      display: grid; /* Using the grid */
      grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
        "header"
        "nav"
        "main"
        "aside"
        "banner"
        "footer";
    }
  }
  
  /* Medium and up (Tablets) */
  @media (min-width: 768px) {
    .container {
      background-color: #FFFA91;
      display: grid; /* Using the grid */
      grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
        "header"
        "nav"
        "main"
        "aside"
        "banner"
        "footer";
    }
  }
  
  /* Large and up (Desktops) */
  @media (min-width: 992px) {
    .container {
      background-color: #FFFA91;
      display: grid; /* Using the grid */
      grid-template-columns: 1fr 2fr 1fr; 
      grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
        "header header header"
        "nav    main     aside"
        "banner  banner  banner"
        "footer  footer   footer";
    }
    .nav{
      flex-direction: column;
    }
    .nav > li:nth-child(2n){
      margin-top: 5%;
    }
    .calendar-container{
      width: 50vw;
    }
    .calculator{
      margin-top: 5%;
    }
    footer{
      background-color: #174033;
      margin-left: 0;
    }
    footer > a{
      color: white;
    }
    
  }
  
  
  /* Extra Large and up (Wide Screen Desktops) */
  @media (min-width: 1200px) {
    .container {
      background-color: #FFFA91;
      display: grid; /* Using the grid */
      grid-template-columns: 1fr 4fr 1fr; 
      grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
      "header header header"
        "nav    main     aside"
        "banner  banner  banner"
        "footer  footer   footer";
    }
    .nav{
      flex-direction: column;
    }
    .nav > li:nth-child(2n){
      margin-top: 5%;
    }
    .calendar-container{
      width: 50vw;
    }
    .calculator{
      margin-top: 5%;
    }
    footer{
      background-color: #174033;
      margin-left: 0;
    }
    footer > a{
      color: white;
    }
  }

