header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  nav {
    grid-area: nav;
  }
  aside {
    grid-area: aside;
  }
  .banner {
    grid-area: banner;
  }
  footer {
    grid-area: footer;
  }
  /* ... */

.container {
    background-color: #FFFA91;
    display: grid; /* Using the grid */
    grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }
  header{
      background-color: #174033;
      border-bottom: 3px solid black;
      color: white;
      text-align:center;
  }
  .nav{
    display: flex;
    list-style: none;
  }
h1{
  text-align: center;
}
  nav ul li{
    padding: 4px;
    margin-right: 10px;
    background-color: rgb(116, 238, 199);
    border: 2px solid black;
    color: white;
    width: 150px;
    text-align: center;
  }
/* Calculator Grid Begins */
  .calculator{
    display: grid;
    width: 220px;
    height: 150px;
    border: 2px solid black;
    background-color: #babdc1;
    margin: auto;
  }

  #calcbuttons{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 2%;
  }
  #display{
    margin-right:0;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 150px;
    height: 25px;
  }
  .digits:hover{
    background-color:#174033;
    color: white;
  }
  .math:hover{
    background-color:#174033;
    color: white;
  }

  section{
    justify-content: center;
    margin: auto auto;
    margin-top: 5%;
    padding: none;
    text-align: center;
    height: 10em;
    width: 250px;
    border: 2px solid black;
  }
  footer{
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
  }
  ul {
    list-style-type: none;
  }


  /* Calendar Grid begins */
  .calendar-container{
    grid-area: calendar;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
    width: 85vw;
    margin: auto auto;
  }

  .month{
   display: flex;
   margin: auto auto;
   font
  }
  .days{
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .day-number1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .day-number2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .day-number3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .day-number4{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .day-number5{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%/7;
    padding: 0;
    justify-items: center;
    align-items: center;
  }

  @media (min-width: 576px) {
    .container {
      background-color: #FFFA91;
      display: grid; /* Using the grid */
      grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
        "header"
        "nav"
        "main"
        "aside"
        "banner"
        "footer";
    }
  }
  
  /* Medium and up (Tablets) */
  @media (min-width: 768px) {
    .container {
      background-color: #FFFA91;
      display: grid; /* Using the grid */
      grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
        "header"
        "nav"
        "main"
        "aside"
        "banner"
        "footer";
    }
  }
  
  /* Large and up (Desktops) */
  @media (min-width: 992px) {
    .container {
      background-color: #FFFA91;
      display: grid; /* Using the grid */
      grid-template-columns: 1fr 4fr 1fr; 
      grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
        "header" "header" "header"
        "nav"     "main"   "aside"
        "banner" "banner" "banner"
        "footer" "footer" "footer";
    
        .nav{

    }
    }
  }
  
  /* Extra Large and up (Wide Screen Desktops) */
  @media (min-width: 1200px) {
    .container {
      background-color: #FFFA91;
      display: grid; /* Using the grid */
      grid-template-columns: 1fr 4fr 1fr; 
      grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
      "header" "header" "header"
      "nav"     "main"   "aside"
      "banner" "banner" "banner"
      "footer" "footer" "footer";
    }
  }

