header{
    height: 15%;
}

#logo{
    margin: 0 40% 0 40%;
    height: 2em;
}

#navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
    border: 2px solid teal;
}

.Glasses_man{
    display: grid;
    background-image: url(./hair_images/the-beacon.jpg);
    background-size: cover;
    padding: 15px;
}
.Glasses_man h2{
    color: black;
    background-color: white;
}
.Glasses_man span{
    padding: 15px;
    color: white;
    background-color: black;
    margin-top: 15px;
}
.more{
    display: inline-block;
    width: 15%;
    margin-top: 15px;
    height: .2em;
    padding: 50px;
    color: white;
    background-color: teal;
    
}

#profiles{
    display: flex;
    list-style: none;
}


.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;
}
#copyright{
    grid-column: 1;
}

.social_logos{
    grid-column: 3;
    display: flex;
    list-style: none;
}